$background-dark: #222222;
$header-light: #e8e8e8;
$theme: #f16d7f;
$theme-light: #f1e4e6;
$main-background: #e5e5e5;
$categories-light: #ffffff;
$item-dark-text: #000000;
$item-lighter-text: #5d5d5d;
$features-text: #fbfbfb;

$imagesPath: "/img";