$background-dark: #222222;
$header-light: #E8E8E8;
$theme: #F16D7F;
$theme-light: #F1E4E6;
$main-background: #E5E5E5;
$categories-light: #FFFFFF;
$item-dark-text: #000000;
$item-lighter-text: #5D5D5D;
$features-text: #FBFBFB;

$imagesPath: "../img";